@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: black;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

#playlists::-webkit-scrollbar{
    width: 12px;
    background-color: transparent;
}

#playlists::-webkit-scrollbar-thumb{
    width: 100%;
    background-color: transparent;
    transition: all 0.5s;
}

#playlists:hover::-webkit-scrollbar-thumb{
    background-color: #898989;
}


.card:hover .play{
    bottom: 5px;
    opacity: 1;
}

.lay::-webkit-scrollbar{
    display: none;
}

.main{
    background: linear-gradient(to top,#000,#111111,black);
  }
